<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Maitree:wght@300&family=Staatliches&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brasserie La Baleine</title>
</head>
<!-- NAVIGATION -->
<header>
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('shop') }}">Boutique</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</header>
<body>
    
</body>
<footer>
    <p>L'abus d'alcool est dangereux pour la santé, appréciez et consommez avec modération.</p>
    <a href= "{{ path('mlegale') }}">Mentions Légale</a>
</footer>
</html>