<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset ('css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Maitree:wght@300&family=Staatliches&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brasserie La Baleine</title>
</head>
<body>
<!-- NAVIGATION -->
<header>
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('shop') }}">Boutique</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</header>
<!-- FIN NAVIGATION -->
<div class="marque">
    <h1>Société:</h1>
    <p>Marque : Brasserie La Baleine<br>
        Société: SARL Unipersonnel Brasserie La Baleine<br>
        Siège social: 17, rue Henri Duvernois 75020 Paris<br>
        Téléphone : 0660996522<br>
        Courriel : brasserielabaleine@gmail.com<br>
        Siret: 792337313 00011<br>
        Code NAF : 1105Z<br>
        N° de TVA Intracommunautaire: FR 82 792337313</p>
</div>
<div class="objet">
    <h2>Objet du site</h2>
    <p>Le site internet www.brasserielabaleine.com est un site de commerce électronique accessible par le réseau Internet.<br>
        Ce site propose des bières à la vente.<br>
        L'abus d'alcool est dangereux pour la santé, à consommer avec modération.<br>
        La vente d'alcool est interdite aux mineurs.</p>
</div>
<div>
    <h2>Conditions d'utilisation</h2>
    <p>Le site Brasserie La Baleine est produit par Brasserie La Baleine SARL unipersonnel au capital de 10 000 €,<br> immatriculée au registre du commerce et des sociétés de Paris sous le numéro 792337313 RCS Paris, dont le siège social est situé au : 17, rue Henri Duvernois 75020 Paris.
        Téléphone : 0660996522<br>
        Gérant : Bruno Torres<br>
        Brasserie La Baleine décline toute responsabilité :<br>
        - pour toute interruption du site ;<br>
        - pour toute survenance de bogues ;<br>
        - pour toute inexactitude ou omission portant sur des informations disponibles sur ce site ;<br>
        - pour tout dommage résultant d'une intrusion frauduleuse d'un tiers ayant entraîné une modification des informations mises à la disposition sur le site ;<br>
        - et plus généralement de tout dommage direct ou indirect, quelles qu'en soient les causes, origines, natures ou conséquences en ce compris notamment les coûts pouvant survenir de l'acquisition de biens proposés sur le site, les pertes de profits, de clientèle, de données ou tout autre perte de biens incorporels pouvant survenir à raison de l'accès de quiconque au site ou de l'impossibilité d'y accéder ou du crédit accordé à une quelconque information provenant directement ou indirectement de ce dernier.</p>
</div>
<div>
    <h2>Protection des données</h2>
    <p>Brasserie La Baleine s'engage à préserver la confidentialité des informations fournies en ligne par l'internaute, qu'il serait amené à transmettre à Brasserie La Baleine pour l'utilisation de certains services.<br>
        Toute information le concernant est soumise aux dispositions de la loi n° 78-17 du 6 janvier 1978. A ce titre, l'internaute dispose d'un droit d'accès, de modification, de rectification et de suppression des informations le concernant, qu'il peut exercer ou obtenir communication des informations le concernant en s'adressant au :<br>
        Service clients<br>
        Brasserie La Baleine<br>
        17, rue Henri Duvernois<br>
        75020 Paris<br>
        0660996522<br>
        Courriel : brasserielabaleine@gmail.com</p>
</div>
<div>
    <h2>Liens</h2>
    <p>Le site peut inclure des liens vers d'autres sites Web ou d'autres sources Internet. Dans la mesure où Brasserie La Baleine ne peut contrôler ces sites et ces sources externes, Brasserie La Baleine ne peut être tenue pour responsable de la mise à disposition de ces sites et sources externes, et ne peut supporter aucune responsabilité quant au contenu, publicités, produits, services ou tout autre matériel disponible sur ou à partir de ces sites ou sources externes.<br>
        De plus, Brasserie La Baleine ne pourra être tenu responsable de tous dommages ou pertes avérés ou allégués consécutifs ou en relation avec l'utilisation ou le fait d'avoir fait confiance au contenu, à des biens ou des services disponibles sur ces sites ou sources externes.<br><br>

        Droit de propriété Brasserie La Baleine<br><br>

        Le site ainsi que tout logiciel utilisé nécessairement en relation avec celui-ci peuvent contenir des informations confidentielles et protégées par le droit de la propriété intellectuelle en vigueur ou toute autre loi. Ainsi, sauf mention contraire, les droits de propriété intellectuelle sur les documents contenus dans le site et chacun des éléments créés pour ce site sont la propriété exclusive de Brasserie La Baleine, celle-ci ne concédant aucune licence, ni aucun droit autre que celui de consulter le site.<br>
        La reproduction de tous documents publiés sur le site est seulement autorisée aux fins exclusives d'information pour un usage personnel et privé, toute reproduction et toute utilisation de copies réalisées à d'autres fins étant expressément interdite.<br>
        Il est également interdit de copier, modifier, créer une œuvre dérivée, inverser la conception ou l'assemblage ou de toute autre manière tenter de trouver le code source (à l'exception des cas prévus par la loi), vendre, attribuer, sous-licencier ou transférer de quelque manière que ce soit tout droit afférant aux logiciels. De même, il est également interdit de modifier le logiciel ou d'utiliser des versions modifiées des logiciels et notamment (sans que cette énumération soit limitative) en vue d'obtenir un accès non autorisé au service et d'accéder au site par un autre moyen que l'interface qui vous est fournie par Brasserie La Baleine à cet effet.<br>
        Il est rappelé que Brasserie La Baleine SARL unipersonnel est propriétaire de la marque Brasserie La Baleine, laquelle est régulièrement déposée auprès de l'Institut National de la Propriété Industrielle (INPI).<br>
        L'internaute reconnaît les droits exclusifs de celle-ci sur sa marque Brasserie La Baleine et s'interdit d'en faire un usage quelconque et plus généralement de porter atteinte aux droits de propriété intellectuelle de Brasserie La Baleine. Brasserie La Baleine se réserve le droit de demander des dommages et intérêts en cas de contrefaçon et plus généralement d'atteinte à ses droits de propriété intellectuelle.</p>
</div>
</body>
</html>